@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Indie Flower", cursive;
  background-color: #fff;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;
}

.main {
  width: 400px;
  margin: 150px auto;
}

table {
  table-layout: fixed;
  display: block;
  border-collapse: separate;
  border-spacing: 0px;
}

tr {
  height: 40px;
}

td {
  background-color: rgb(48, 45, 45);
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

img {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  filter: invert(1);
}

.cell {
  width: 40px;
}

.clicked:not(.isBug) {
  background-color: rgba(66, 62, 62, 0.924);
  color: #fff;
  padding-left: 14px;
  font-size: 1.5rem;
}

p {
  margin-left: 31%;
}

.isBug.clicked {
  background-color: rgba(131, 10, 10, 0.794);
  font-size: 30px;
}
